$height-nav: 3rem;
$responsive-1: 375px;
$responsive-2: 720px;
$responsive-3: 1366px;
$responsive-4: 1440px;
$responsive-5: 1920px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: rgb(241, 245, 249);
}

$title-page-height: 4rem;
$navigation-page-height: 4rem;
$title-navigation-page-height: $title-page-height + $navigation-page-height;
$body-page-height: calc(100vh - $title-navigation-page-height);

.my-portfolio {
  width: 100%;
  height: 100%;
  background-color: blue;
  display: grid;
  grid-template-areas:
    "title"
    "body"
    "navigation";
  grid-template-rows: $title-page-height $body-page-height $navigation-page-height;
}

.my-portfolio-title-page {
  grid-area: title;
  background-color: red;
}

.my-portfolio-body-page {
  grid-area: body;
  background-color: yellow;
  overflow: scroll;
}

.my-portfolio-navigation-page {
  grid-area: navigation;
  background-color: black;
}
